h1 {}

.main {
    background-color: rgb(255, 246, 215);
}

.heading {
    color: rgb(255, 226, 96);
    background-color: rgba(215, 255, 246, 0.541);
    font-family: Century;
    font-size: 50px;
    font-weight: bold;
}

t {
    font-family: Century;
    font-size: 18px;
}

.file-upload {}

.label {
    background-color: rgb(255, 213, 98);
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
}

.submitimg{
    background-color: rgba(215, 255, 246, 0.541);
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    outline: 0px;
}